<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>La grille</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Puissance 4</h1>
    <p>caca</p>
    <p>papa</p>
    {{range .}}
        <div class="row">
            <p>cua</p>
            {{range .}}
            <div class="column">
                <p>cua</p>
                {{if eq . 1}}
                    <div class = "jeton rouge"></div>
                {{else if eq . 2}}
                    <div class = "jeton jaune"></div>
                {{else}}
                    <div class = "jeton vide"></div>
                {{end}}
            </div> 
            
        {{end}}
        </div>
        
    {{end}}

    <a href="/">Accueil</a>
    <a href="/about">À propos</a>
    <a href="/contact">Contact</a>
    <a href="/tableau">puissance 4</a>

    
</body>
</html>